* {
  margin:0px;
  padding:0px;
}

html, body {
  background-color: rgb(252, 224, 245);
  line-height:1.6em;
  font-family:  Cambria, Cochin, Georgia, Times, Times New Roman, serif, Tahoma, Geneva, Verdana, sans-serif;
  color: #0d1137;
  font-size: 25px;
  width: 100%;
  height: 100%;
}

a  {
  text-decoration: none;
  color:white;
}

img {
  width:100%;
  height:100%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  background-color: #0d1137;
  font-weight: bolder;
  font-size: 20px;
  padding:20px;
  padding-left:40px;
  padding-right: 40px;
}

#search {
  border-radius: 50px;
  padding:7px;
  text-align:center;
  box-shadow: 2px 2px #e52165;
}

#search:focus {
  outline: none;
}

.details {
  padding:30px;
  height: 200px;
}

h3 {
  font-size: 20px;
  text-align: center;
  padding-top: 50px;
}

h4 {
  line-height: 2.0em;
  font-size: 20px;
}

.more_stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 30px 30px;
  background-color: pink;
  padding:20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.stat_center {
  align-self: center;
}

#interest {
  font-size: 25px;
  color: #ce0048;
}

#weatherC {
  color:green
}

button {
  padding: 10px;
  background-color: rgb(172, 5, 97);
  color:white;
}

button:focus {
  outline: none;
}

#map {
  background-color: black;
  align-self: center;
  width:60%;
}

#temperature {
  font-size: 50px;
}

#weatherC {
  font-size: 40px;
}

#info {
  font-size:20px;
  padding: 10px;
  color:rgb(172, 5, 97);
  font-weight: bolder;
}

#text {
  font-size: 15px;
  padding:20px;
  text-align: center;
}

#footer {
  background-color: black;
  color: white;
}

#footer a {
  color: pink;
  font-weight: bolder;
}
/* Optimizing Website For Smaller Screen Sizes */
@media (max-width: 1152px) { 
  .more_stats {
    flex-direction: column;
  }

  #map {
    margin-top:40px;
    width: 100%;
  }
}
